<% include partials/header %>

<header class='astroid_header'>

</header>

<main class='asteroidMain'>

  <h1 class='center'>Near Earth Asteroids, Oh My!</h1>
  <h6 class='center'>(See Asteroids near Earth)</h6><br>
  <h3 class='center'>Today, on <%= date %>, the total number of near Earth bodies is: <%= bodies %></h3>
  <h6 class='center'>Click on a box to learn more!</h6>

  <div id='parent_div' class='asteroid_main_div'>
    <% for (var i = 0; i < dataArray.length; i++) { %>
        <div onclick='changeBackground(this);' style="background-color:lightgreen" id='single_div_<%= i %>' class='asteroid_data_container'>
          <p><span>Asteroid's Name:</span> <%= dataArray[i].rockName %></p>
          <p><span>Asteroid's Size:</span> <%= dataArray[i].rockSize %> Meters</p>
          <p><span>Miss Distance: </span> <%= dataArray[i].missDistance %> Miles from Earth</p>
          <p><span>Asteroid's Speed:</span> <%= dataArray[i].speed %> MPH</p>
        </div>
    <% } %>
  </div>

</main>

<div id='simpleModal' class='Modal'>
  <div class="modal-content">
    <span class='closeBtn'>&times;</span>
    <h4 class='center'>For more information on a specific asteroid go to: </h4>
    <br>
      <div class='center'>
        <% for (var i = 0; i < dataArray.length; i++) { %>
          <p>Asteroid <%= dataArray[i].rockName %> URL: <a href='<%= dataArray[i].url %>'><%= dataArray[i].url %></a></p>
        <% } %>
     </div>
  </div>
</div>



<script type="text/javascript" src='/js/asteroid.js'></script>
<% include partials/footer %>